* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f9f7f1;
}

a {
  color: inherit;
  text-decoration: none;
}
